<script>
    var roomId = "<%= roomId %>";
</script>
<div id="main-app">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="play-area">
                    <canvas id="game"></canvas>
                </div>
            </div>
            <div class="col-md-3">
                <div id="panel">
                    <h3>Top 5</h3>

                    <div class="top10">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nhập tên của bạn</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" id="name" class="form-control" placeholder="Ví dụ: Max">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Start game</button>
            </div>
        </div>

    </div>
</div>